<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abojuto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Abojuto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Schedule <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br>
    <div id="appointment"></div>
</body>
<script>

    let appointmentId = ""

    window.addEventListener("load", (req, res) => {
        const url = window.location.pathname;
        const customerId = url.substring(url.lastIndexOf('/') + 1)
        const token = localStorage.getItem('token');
        const bearer = 'Bearer ' + token
        fetch('http://localhost:3000/api/appointment/' + customerId, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': bearer
            },
        })
            .then(res => res.json())
            .then(response => {

                var appointmentHtml = '';
                for (var i = 0; i < response.data.length; i++) {
                    const date = moment
                        .unix(response.data[i].appointmentDate)
                        .format("MM-DD-YYYY");

                    const now = moment();
                    const appointmentDate = moment(date).isBefore(now);

                    if (appointmentDate) {
                        response.data[i].status = 'Past Appointment'
                    } else {
                        response.data[i].status = 'Pending Appointment'
                    }

                    appointmentId = response.data[i].id
                    console.log(appointmentId)

                    appointmentHtml += `<table class="table">`
                    appointmentHtml += `<thead>`
                    appointmentHtml += `<tr>`
                    appointmentHtml += ` <th scope="col">First Name</th>`
                    appointmentHtml += ` <th scope="col">Last Name</th>`
                    appointmentHtml += ` <th scope="col">Date</th>`
                    appointmentHtml += ` <th scope="col">Status</th>`
                    appointmentHtml += ` <th scope="col">Time</th>`
                    appointmentHtml += ` <th scope="col">Supervisor</th>`
                    appointmentHtml += ` <th scope="col">Actions</th>`

                    appointmentHtml += `</tr>`
                    appointmentHtml += `</thead >`
                    appointmentHtml += `<tbody>`
                    appointmentHtml += `<tr>`

                    appointmentHtml += `<td>${response.data[i].first_name}</td>`
                    appointmentHtml += `<td>${response.data[i].last_name}</td>`
                    appointmentHtml += `<td>${date}</td>`
                    appointmentHtml += `<td>${response.data[i].status}</td>`
                    appointmentHtml += `<td>${response.data[i].time}</td>`
                    appointmentHtml += `<td>${response.data[i].name}</td>`
                    appointmentHtml += `<td>`
                    appointmentHtml += `<button onClick="updateAppointment()"  class="fa fa-check" style="font-size:24px"></button>`
                    appointmentHtml += `</td>`

                    appointmentHtml += `</tbody>`
                    appointmentHtml += `</table>`
                }
                const appointmentContainer = document.getElementById("appointment");
                appointmentContainer.innerHTML = appointmentHtml;
            })
            .catch(error => console.error('Error:', error));
    })

    const updateAppointment = () => {
        let firstName = document.getElementById("firstName").value;
        const token = localStorage.getItem("token");
        const bearer = "Bearer " + token;
        console.log(firstName)

        fetch("http://localhost:3000/api/appointment/" + appointmentId, {
            method: "PATCH",
            headers: {
                Authorization: bearer,
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                status: "Complete",
            })
                .then(res => res.json())
                .then(response => {
                    console.log(response)
                })
                .catch(error => console.error("Error:", error))
        });
    };

</script>

</html>