<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Abojuto</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Abojuto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <form id="loginForm">
            <p class="sign" align="center">Sign in</p>
            <form class="form1">
                <input class="un" id="email" type="text" align="center" placeholder="Email">
                <input class="pass" id="password" type="password" align="center" placeholder="Password">
                <button id="btn" type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div id="pswdNotification">
                <p style="text-align: center">Incorrect Email or Password</p>
            </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("loginForm");
        theForm.addEventListener("submit", (event) => {
            event.preventDefault();
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            fetch('http://localhost:3000/api/customer/login', {
                method: "post",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email,
                    password,
                })
            })
                .then(res => res.json())
                .then(response => {
                    console.log(response)
                    if (!response.success) {
                        document.getElementById("pswdNotification").style.display = "block";
                    }
                }).catch(error => console.error('Error:', error));
            $('#loginForm').get(0).reset();
        })
    })

</script>

</html>