<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abojuto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Abojuto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="profile"> </div>
</body>
<script>

    let url = window.location.pathname;
    let profile = url.substring(url.lastIndexOf('/') + 1)
    fetch('http://localhost:3000/api/supervisor/' + profile, {
        method: "GET",
    })
        .then(res => res.json())
        .then(response => {
            console.log(response.data)
            var profileHtml = '';
            for (var i = 0; i < response.data.length; i++) {
                profileHtml += ` <div class="card sup-option"  style="width: 18rem;">`
                profileHtml += `<div class="card-body">`
                profileHtml += `<h6 id="supProfile" class="item-name card-title">${response.data[i].name} </h4>`;
                profileHtml += `<h6 id="supProfile" class="item-name card-title">${response.data[i].license} </h4>`;
                profileHtml += `<h6 id="supProfile" class="item-name card-title">${response.data[i].about} </h4>`;
                profileHtml += `<h6 id="supProfile" class="item-name card-title">${response.data[i].universities} </h4>`;
                profileHtml += `</div>`;
                profileHtml += `</div>`;
            }
            const profileContainer = document.getElementById("profile");
            profileContainer.innerHTML = profileHtml;
        })
        .catch(error => console.error('Error:', error));

</script>

</html>