<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abojuto</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Abojuto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <select id="stateId" class="form-control" style="height: 35px" onchange="supervisorSearch()">
        </select>
        <br></br>
        <select id="categoryId" class="form-control" style="height: 35px" onchange="supervisorSearch()">
        </select>
        <br><br>
        <select id="specialtyId" class="form-control" style="height: 35px" onchange="supervisorSearch()">
        </select>
        <br><br>
        <select id="modalityId" class="form-control" style="height: 35px" onchange="supervisorSearch()">
        </select>
    </div>

    <div id="supervisorList"> </div>

</body>
<script>
    //get states
    window.addEventListener("load", (req, res) => {
        fetch('http://localhost:3000/api/state/', {
            method: "GET",
        })
            .then(res => res.json())
            .then(response => {
                let html = '';
                for (var i = 0; i < response.data.length; i++) {
                    html += ` <option value="" hidden="hidden">Location</option>`
                    html += `<option value="${response.data[i].state_id}"> ${response.data[i].name}  </option>`;
                    html += `<select id="stateId onchange="supervisiorByState()">`
                    const stateContainer = document.getElementById("stateId");
                    stateContainer.innerHTML = html;
                }
            })
            .catch(error => console.error('Error:', error));
    })

    //get speciality
    window.addEventListener("load", (req, res) => {
        fetch('http://localhost:3000/api/specialty', {
            method: "GET",
        })
            .then(res => res.json())
            .then(response => {
                let html = '';
                for (var i = 0; i < response.data.length; i++) {
                    html += ` <option value="" hidden="hidden">Specialty</option>`
                    html += `<option value="${response.data[i].id}"> ${response.data[i].specialty}  </option>`;
                    const specialtyContainer = document.getElementById("specialtyId");
                    specialtyContainer.innerHTML = html;
                }
            })
            .catch(error => console.error('Error:', error));
    })

    //get modality
    window.addEventListener("load", (req, res) => {
        fetch('http://localhost:3000/api/modality', {
            method: "GET",
        })
            .then(res => res.json())
            .then(response => {
                let html = '';
                for (var i = 0; i < response.data.length; i++) {
                    html += ` <option value="" hidden="hidden">Modality</option>`
                    html += `<option value="${response.data[i].id}"> ${response.data[i].modality}  </option>`;
                    const modalityContainer = document.getElementById("modalityId");
                    modalityContainer.innerHTML = html;
                }
            })
            .catch(error => console.error('Error:', error));
    })

    //get license categories 
    window.addEventListener("load", (req, res) => {
        fetch('http://localhost:3000/api/category/', {
            method: "GET",
        })
            .then(res => res.json())
            .then(response => {
                let html = '';
                for (var i = 0; i < response.data.length; i++) {
                    html += ` <option value="" hidden="hidden">License</option>`
                    html += `<option value="${response.data[i].license_id}"> ${response.data[i].license_title}  </option>`;
                    const categoryContainer = document.getElementById("categoryId");
                    categoryContainer.innerHTML = html;
                }
            })
            .catch(error => console.error('Error:', error));
    })


    const supervisorSearch = () => {
        let state = document.getElementById("stateId").value;
        let licenseCategory = document.getElementById("categoryId").value;
        let specialty = document.getElementById("specialtyId").value;
        let modality = document.getElementById("modalityId").value;
        fetch('http://localhost:3000/api/supervisor/search?state=' + state + '&license=' + licenseCategory + '&modality=' + modality + '&specialty=' + specialty, {
            method: "GET",
        })
            .then(res => res.json())
            .then(response => {
                // console.log(response.data)
                var supervisorHtml = '';
                for (var i = 0; i < response.data.length; i++) {
                    console.log(response.data[i].name)
                    supervisorHtml += ` <div class="card sup-option"  style="width: 18rem;">`
                    supervisorHtml += `<div class="card-body">`
                    supervisorHtml += `<h6 id="supProfile" class="item-name card-title">${response.data[i].name} </h4>`;
                    supervisorHtml += `</div>`;
                    supervisorHtml += `</div>`;
                }
                const supervisorContainer = document.getElementById("supervisorList");
                supervisorContainer.innerHTML = supervisorHtml;
                if (state) {
                    window.history.pushState("object or string", "Title", '/search?state=' + state);
                }
                if (licenseCategory) {
                    window.history.pushState("object or string", "Title", '/search?license=' + licenseCategory);
                }
                if (state && licenseCategory) {
                    window.history.pushState("object or string", "Title", '/search?state=' + state + '&license=' + licenseCategory);
                }
                if (state && licenseCategory && modality) {
                    window.history.pushState("object or string", "Title", '/search?state=' + state + '&license=' + licenseCategory + '&modality=' + modality);
                }
                if (state && licenseCategory && modality && specialty) {
                    window.history.pushState("object or string", "Title", '/search?state=' + state + '&license=' + licenseCategory + '&modality=' + modality + '&speacialty=' + specialty,);
                }

            })
            .catch(error => console.error('Error:', error));
    }
</script>

</html>