#stateId {
  width: 240px;
}

#specialtyId {
  width: 240px;
}
#modalityId {
  width: 240px;
}
#categoryId {
  width: 240px;
}

div.sup-option {
  margin-right: 15px;
  left: 50%;
  top: -285px;
}
#supervisorList {
  height: 100%;
}
